<form [formGroup]="service.form" class="normal-form">
  <div class="controles-container">
    <input type="hidden" formControlName="$key" />
    <mat-form-field>
      <input formControlName="Employee_id" matInput placeholder="Employee ID" />
    </mat-form-field>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Name" />
      <mat-error>Invalid email address.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        formControlName="project_name"
        matInput
        placeholder="Project Name"
      />
    </mat-form-field>

    <div class="add-bottom-padding">
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
        <mat-radio-button value="3">Other</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field>
      <mat-select formControlName="designation" placeholder="Designation">
        <mat-option>None</mat-option>
        <ng-container *ngFor="let designation of designations">
          <mat-option value="{{ designation.id }}">{{
            designation.value
          }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input
        formControlName="dob"
        matInput
        [matDatepicker]="picker"
        placeholder="DOB"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    </div>
  </div>
</form>
